@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-flow {
    animation: flow linear infinite;
  }
}

@keyframes flow {
  to {
    stroke-dashoffset: -20;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}